.bg_premium {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: -270px;
  width: 100%;
  height: 585px;
  min-height: 585px;
  z-index: 0;
  background-image: radial-gradient(
    56.1514% 56.1514% at 49.972% 38.959%,
    rgba(52, 147, 239, 0.3) 0%,
    rgb(255, 255, 255) 100%
  );
}

  
  /* If you have a specific class for your content area */
  .BoxZ {
    position: relative;
    z-index: 1;
  }